<h3 *ngIf="matches.length === 0">
    Nie ma dzisiaj spotkań do obstawienia, wróć jutro!
</h3>
<table *ngIf="matches.length > 0" class="table align-middle mb-0 bg-white table-striped">
    <thead class="bg-light">
      <tr>
        <th>Godzina</th>
        <th>Gospodarze</th>
        <th>Goście</th>
        <th class="text-center">1</th>
        <th class="text-center">X</th>
        <th class="text-center">2</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let match of matches">
            <td>{{ match.date.substr(11, 2) }}:{{ match.date.substr(14, 2) }}</td>
            <td>{{ match.homeTeam }}</td>
            <td>{{ match.awayTeam }}</td>
            <td class="text-center">
                <button class="btn btn-primary" (click)="selectMatch(match, 'home')">
                    {{ match.meanHome.toFixed(2) }}
                </button>
            </td>
            <td class="text-center">
                <button class="btn btn-primary" (click)="selectMatch(match, 'draw')">
                    {{ match.meanDraw.toFixed(2) }}
                </button>
            </td>
            <td class="text-center">
                <button class="btn btn-primary" (click)="selectMatch(match, 'away')">
                    {{ match.meanAway.toFixed(2) }}
                </button>
            </td>
        </tr>
    </tbody>
  </table>
