.dataTables {
    &_filter {
        float: right;

        input[type="search"] {
            display: inline;
            max-width: 144px;
            margin-left: 5px;
        }
    }

    &_wrapper {
        margin-bottom: 30px;
        overflow-x: auto;
    }

    &_length {
        select {
            display: inline;
            max-width: 66px;
        }
    }

    &_paginate {
        float: right;
    }
}

.dataTable {
    th.sorting {
        cursor: pointer
    }
}
