.card {
    max-height: 465px;
    overflow-y: auto;
    scrollbar-width: none;

    @media(min-width: 1400px) {
        position: fixed;
        width: 37vw;
    }

    @media (max-width: 1399px) {
        margin-bottom: 50px;
    }
}

.ako {
    background-color: #adff2f;
}