<div class="container">
    <h1 class="text-center m-5">Gdzie obstawić</h1>
    <div class="row justify-content-between">
        <div class="col-12 col-xxl-7">
            <h2><span class="badge bg-primary rounded-pill">Spotkania (średnie kursy)</span></h2>
            <app-matches-table [matches]="matches" (matchSelectedEvent)="handleMatchSelect($event)"></app-matches-table>
        </div>
        <div class="col-12 col-xxl-5">
            <h2><span class="badge bg-success rounded-pill">Kuponik</span></h2>
            <app-coupon 
                [selectedMatches]="selectedMatches" 
                [comboRate]="comboRate" 
                (removeMatchEvent)="handleRemoveMatch($event)" 
                (calculateOfferEvent)="handleCalculateOffers()"
            >
            </app-coupon>
        </div>
    </div>
</div>

<app-offer-modal [offers]="offers" [isActive]="modalActive" (closeModalEvent)="handleCloseModal()"></app-offer-modal>
